#devdata {
  height: 2150px;
  position: relative;
  background-image: url("../static/dataimage/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#indexmain {
  height: 1325px;
  position: relative;
  background-image: url("../static/dataimage/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#predict {
  height: 850px;
  position: relative;
  background-image: url("../static/dataimage/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 1200px;
}