body {
  position: relative;
  background-image: url("../static/dataimage/digital.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 1500px;
}

#chartdivcategories {
  width: 100%;
  height: 800px;
}

#pricecategories {
  width: 100%;
  height: 500px;
}

#pricedouble {
  width: 100%;
  height: 500px;
}
