{% extends "layout.html" %} {% block body %}

<div class="row">
    <div class="column-video">
        <iframe src="https://www.youtube.com/embed/XoSyJ-CUkCw" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="column-video">
        <iframe src="https://www.youtube.com/embed/mBkGjGGAMfg" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="column-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hDbVPuUYWN4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="column-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YeQMb-ijbI0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

{% endblock %}