{% extends "layout.html" %}

{% block content %}
<div class="p-3 bg-dark text-danger">
  <br>
  <h1 class="text-center text-white">โปรเกมอนที่ท่านได้รับจำนวน 10 ครั้ง</h1>
  <div class="row row-cols-1 row-cols-md-5 g-4 my-3">
    <div class="col">
      <div class="card">
        <img src="../static/อาชาโม.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">อาชาโม</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฮิโตคาเงะ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฮิโตคาเงะ</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฟ็อกโกะ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฟ็อกโกะ</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฟ็อกโกะ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฟ็อกโกะ</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฮิโตคาเงะ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฮิโตคาเงะ</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฮิโนอาราชิ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฮิโนอาราชิ</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฮิโนอาราชิ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฮิโนอาราชิ</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฮิโตคาเงะ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฮิโตคาเงะ</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/ฮิบานี.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">ฮิบานี</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/อาชาโม.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">อาชาโม</h5>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}